/* Fonts */
@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-display: block;
  font-weight: 300 800;
  src: url(./fonts/open-sans-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url(./fonts/noto-serif-latin-700-normal.woff2) format("woff2"), url(./fonts/noto-serif-latin-700-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(./fonts/roboto-condensed-latin-400-normal.woff2) format("woff2"), url(./fonts/roboto-condensed-latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Font configuration
$font-size-default: 30px;
$font-size-huge: 40px;
$font-size-current-temp: 70px;
$font-family-serif: "Noto Serif", serif;
$font-family-default: "Open Sans Variable", serif;
$font-family-temp: "Roboto Condensed", sans-serif;

// Configuration for the rounded background
$display-background: #000;
$display-padding: 5px;
$display-text-color: #fff;

$spacing: 30px;


// Layout
html, body {
  margin: 0;
  background: #aaa;
}

#display {
  background: #fff;
  width: 825px;
  height: 1200px;
  overflow: hidden;
  font-weight: 400;
  font-size: $font-size-default;
  font-family: $font-family-default;
}

h1 {
  height: 100px;
  padding: $spacing;
  margin: 0;
  box-sizing: border-box;

  font-family: $font-family-serif;
  font-size: $font-size-huge;
  font-weight: 700;
  line-height: 100px - 2*$spacing;

  color: #fff;
  background-color: #000;
}

.widget-headlines {
  height: 900px;
   /* will be overridden by textfit, all the following sizes are relative */
  padding: $spacing $spacing 0 $spacing;
  box-sizing: border-box;

  line-height: 1.25;

  .widget-headlines-inner {  /* We need this because textFit messes with flexbox */
    height: 900px - $spacing;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;

    article {
      padding-bottom: $spacing;

      h2 {
        margin: 0 0 .4em 0;
        font-family: $font-family-serif;
        font-size: 1.3em;
        font-weight: 700;
      }

      .widget-headlines-content {
        display: flex;
        flex-direction: row;
        text-align: justify;

        .widget-headlines-illustration {
          margin: .125em 1em .125em 0;
          border: 1px solid #000;
          background-size: cover;
          background-position: center center;
          width: 250px;
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
    }
  }
}

/* Weather */
.widget-weather {
  height: 200px;
  overflow: hidden;

  box-sizing: border-box;
  padding: 0 $spacing $spacing $spacing;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #000;
  color: #fff;

  .widget-weather-current {
    display: flex;
    align-items: center;

    img {
      height: 140px;
      width: 140px;
      margin-right: $spacing;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    .widget-weather-current-temperature {
      font-family: $font-family-temp;
      font-size: $font-size-current-temp;
      line-height: $font-size-current-temp;
    }
  }

  .widget-weather-next {
    text-align: center;

    img {
      margin-top: 5px;
      width: 75px;
      height: 75px;
    }

    .widget-weather-table-temp {
      font-family: $font-family-temp;
    }
  }
}