{% from 'widget-headlines.html' import widget_headlines %}
{% from 'widget-weather.html' import widget_weather %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inkplate 10 display</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/js/textfit/textFit.min.js"></script> 
  </head>
  <body>
    <div id="display">
      <div class="widget-header">
        <div>{{ data.date }}</div>
        <svg xmlns="http://www.w3.org/2000/svg"><use href="/static/icons/lucide/sprite.svg#{{ data.battery_icon }}" /></svg>
      </div>
      {{ widget_weather(data.weather) }}
      {{ widget_headlines(data.headlines) }}
    </div>
    <script>
      window.addEventListener("load", function(){
        textFit(document.getElementsByClassName("widget-headlines"));
      });
    </script>
  </body>
</html>