{% macro widget_headlines(headlines) %}
<div class="widget-headlines">
    <div class="widget-headlines-inner">
{% for headline in headlines[0:2] %}
        <article>
            <h2>{{ headline.title }}</h2>
            <div class="widget-headlines-content">
                {% if headline.image %}
                <div class="widget-headlines-illustration" style="background-image: url('data:image/png;base64,{{ headline.get_image() }}')"></div>
                {% endif %}
                <div class="widget-headlines-description">{{ headline.description }}</div>
            </div>
        </article>
{% endfor %}
    </div>
</div>
{% endmacro %}